li a {
  color: gray;
}

body {
  padding: 0;
  margin: 3px;
}

#main {
  padding: 5px;
  margin: 5px;
}

#top {
  padding: 10px;
  height: 60px;
  color: white;
  font-size: 20pt;
  background: rgb(64,0,0) url("images/zft_head_pl_bw.png") no-repeat right bottom;
}

#container {
  box-shadow: 1px 1px 1px 1px #888888;
  width: 1024px !important;
  border: 1px black solid;
  margin: auto;
}

/* abstract formatting */
.abstract {
  padding-top: 0px;
  background-color: #E8E8E8;
  border: 1px solid black;
}

.abstract-title {
  margin: 0px;
  font-size: 16pt;
  background-color: rgb(64,0,0);
  color: white;
  padding-left: 20px;
  padding-top: 20px;
  text-decoration: none;
}

.abstract-body {
  margin: 5px;
  padding: 2%;
  text-align: justify;
}

.pub_title {
  font-size: 16pt;
}

.get_article {
  background-color: rgb(232,232,232);
  font-size: 10pt;
  text-align: right;
  border-left: 1px black solid;
  border-right: 1px black solid;
  border-top: 1px black solid;
  padding-right: 3px;
}

.get_article a {
  text-decoration: none;
  color: rgb(0,0,0);
}

.journal_info {
  font-size: 12px;
}

.breadcrumb a {
  padding-left: 20px;
  background: url("images/bread.png") no-repeat left center;
  font-size: 10px;
  text-decoration: none;
  color: gray;
}

.pdf a {
  font-size: 8pt;
  font-family: Georgia;
  color: white;
  text-decoration: bold;
  padding-left: 5px;
  padding-right: 5px;
  background-color: rgb(200,0,0);
}


/* footer */
#footer {
  padding-top: 1px;
  font-size: 9pt;
  color: gray;
  text-align: center;
}

#footer a {
  text-decoration: none;
  color: gray;
}

#footer hr {
  width: 25%;
}

#yoyu {
  height: 10px;
}
